/*********************
  All Nav
**********************/

ul li {
	display: inline-block;
	margin: 0px 10px;
	color: white;
}

ul li a {
	color: white;
	font-size: 1.2em;
}

ul li a:hover {
	color: #d6d6d6;
}

.nav {
	transform: translateY(5px);
	padding: 16px 20px;
	box-shadow: 
		0 50px 120px 30px rgba(0,0,0,0.5), 
		0 1px black;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	background-image: url('../../images/navbg.jpg');
	padding: 16px 20px;
	color: white;
}

.navRight {
	float: right;
	margin-top: -2px;
}

.navLeft {
	display: inline-block;
}

.mindfeedNavButton {
	color: black;
	background-color: #ffd219;
	border-color: #ffd219;
	box-shadow: 2px 2px 1px #000;
	border-width: 1px;
	padding: 3px 10px;
	border-radius: 0px;
	margin-left: 5px;
}

.adminPanelButton {
	background-color: red;
}

.menuSubtopic {
	display: block;
	margin: 2px 0px;
	background-color: black;
	padding: 10px 15px;
	padding-right: 50px;
	font-family: helvetica;
	font-size: 1.2em;
}

.menuSubtopic:hover {
	background-color: #242526;

}

.navWhite {
  background-image: url('../../images/whitebg.png');
  color: black;
	box-shadow: 
		0 1px 1px 1px rgba(255, 255, 255, 0.2), 
		0 1px rgba(255, 255, 255, 0.2);
	border-bottom: .2px rgba(255, 255, 255, 0.2);
}


.navWhite a, .navWhite span, .menuSubtopicWhite a, .menuSubtopicWhite span {
	color: black;
}

.navWhite a:hover {
    color: #7a7a7a;
}
.menuSubtopicWhite {
	background-color: white;
	color: black;
}

.menuSubtopicWhite:hover {
	background-color: #e8e8e8;

}





