/*********************
   Dashboard
**********************/

/*********************
   Video Container
**********************/
.videoContainer {
  margin-top: 4px;
  background-color: black;
}

.videoDisplay {
  text-align: center;
  margin: 0 auto;
}

/*********************
   Mindfeed Bar
**********************/
.mindfeedBarContainer {
  text-align: center;
  padding: 10px;
  background-color: white;
}

.barIcon, .heartIcon, .heartIcon:hover, .heartIconSelected, .heartIconSelected:hover {
  padding: 5px 15px;
}

.barIcon, .heartIcon {
  color: gray;
}

.heartIconSelected, .heartIconSelected:hover {
  color: red;
}

.barIcon:hover {
  color: black;
}

.mindfeedButton {
  color: black;
}


/*********************
   Video Info
**********************/
.videoInfoContainer {
  width: 90%;
  margin: 18px 0px;
  padding-left: 100px;
}

.videoTitle {
  font-size: 27px;
  font-weight: bold;
}

.reportVideoContainer {
  float: right;
  padding-top: 10px;
}

.reportVideoIcon {
  font-size: 20px;
  color: darkred;
}

.videoStatsContainer {
  color: black;
  width: 50%;
  margin: 5px 0px;
  padding: 8px 0px;
}

.videoStat {
  margin-right: 10px;
}

.videoDesc {
  font-size: 15px;
  padding-top: 20px;
}


/*********************
   Recent Videos
**********************/

.recentVideosContainer {
  margin-top: 5px;
  padding-top: 8px;
  margin-bottom: 50px;
  padding-right: 100px;
  display: inline-block;

}

.recentVideosListTitle {
  margin-bottom: 5px;
  font-weight: bold;
  padding-top: 8px;
}

.recentVideo {
  width: 95%;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px;
}

.recentVideo img {
  max-width: 35%;
  float: left;
  margin-right: 5px;
  opacity: .85;
  /*position: relative;*/
  /*z-index: 1;*/
}

.recentVideo:hover {
  background-color: #fff;
  opacity: 0.8;
}

/*.recentVideo:hover img {
  opacity: 0.5;
  position: absolute;
  background-image: url('http://www.free-icons-download.net/images/play-button-icon-93570.png');
  /*z-index: 2;*/
/*}*/

.recentVideoTitle {
  font-size: 12px;
  /*font-weight: bold;*/
}

.recentVideoCategory {
  font-size: 12px;
}


.img-wrapper {
  position: relative;
 }

.img-overlay {
  position: absolute;
  opacity: 1;
  width: 35%;
  top: 15px;
  bottom: 0;
  left: 13%;
  right: 0;
  text-align: center;
}



.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}




