/********************
  Global
**********************/

body {
	background-image: url('../images/patternbg.jpg');
}

.howItWorksContainer, .recEngineContainer, .featuredOneContainer, .featuredTwoContainer {
	 padding: 50px 100px;
}

.signUpContainer, .logInContainer, .submitVideoContainer {
  padding: 50px 20px;
}

.footerInner {
	padding: 20px 100px;
	margin: 0 auto;
	max-width: 90vw;
}

.footerInner h2 {
	color: white;
	font-weight: bold;
}

.footerInner a {
	color: white;
}

.footerAboutUs {
	margin-right: 80px;
}

.recEngineContainer {
	padding: 0px 100px;
}

.topVideosContainer {
  	 padding: 30px 100px;	
}

.adminContainer {
	padding: 50px 100px 100px 100px;
}

form input, form select {
	margin: 5px;
	padding: 10px 20px;
	font-size: 15px;
}

.footer {
  background-image: url('../images/navbg.jpg');
  padding: 16px 20px;
  color: white;
}

.navbg {
    background: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%) fixed;
    height: 5px;
    margin-bottom: 55px; 
}

.formButton {
	color: black;
	background-color: #ffd219;
	border-color: #ffd219;
	box-shadow: 2px 2px 1px #000;
	border-width: 1px;
	padding: 3px 10px;
	border-radius: 0px;
	margin-left: 5px;
}



