/********************
  Global
**********************/

body {
	background-image: url('../images/patternbg.jpg');
}
.howItWorksContainer, .featuredContentContainer, .recEngineAdditionalInfo, .bottomContainer {
	 padding: 50px 100px;
}

.footerInner {
	padding: 20px 100px;
	margin: 0 auto;
	max-width: 90vw;
}

.footerInner h2 {
	color: white;
	font-weight: bold;
}

.footerInner a {
	color: white;
}

.footerAboutUs {
	margin-right: 150px;
}

.recEngineContainer {
	padding: 0px 100px;
}

.topVideosContainer {
  	 padding: 30px 100px;	
}

form input, form select {
	margin: 5px;
	padding: 10px 20px;
	font-size: 15px;
}

/*********************
  Navigation
**********************/
.subtopic {
	display: block;
	margin: 2px 0px;
	background-color: black;
	/*color: black;*/
	padding: 10px 15px;
	padding-right: 50px;
}

ul li {
	display: inline-block;
	margin: 0px 10px;
	color: white;
}

ul li a {
	color: white;
	font-size: 1.2em;
}

ul li a:hover {
	color: darkgray;
}



.nav, .topicNav, .footer {
  background-image: url('../images/navbg.jpg');
  padding: 16px 20px;
  color: white;
}

.nav, .topicNav {
	transform: translateY(3px);
}

.nav {
	box-shadow: 
		0 50px 120px 30px rgba(0,0,0,0.5), 
		0 1px black;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbg {
    background: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%) fixed;
    height: 3px;
    margin-bottom: 55px; }

.navRight {
	float: right;
}

.navLeft {
	display: inline-block;
}

.bulbnav {
	max-height: 35px;
	display: inline-block;
}

.submitVideoButton {
	color: black;
	background-color: white;
	padding: 5px 20px;
	border-radius: 0px;
}

.signUpButton, .logInButton {
	color: black;
	background-color: #efcc44;
	border-color: #efcc44;
	box-shadow: 2px 2px 1px #000;
	border-width: 1px;
	padding: 5px 20px;
	border-radius: 0px;
	margin-left: 5px;
}

/*********************
  Home Header
**********************/

.getStartedContainer {

  background: linear-gradient(to right, rgba(20, 30, 48, .7) 0%, rgba(36, 59, 85, .7) 100%), url('../images/headerbg.jpg');
  /*background: linear-gradient(to right, #141e30, #243b55), opacity: .95, url('../images/headerbg.jpg');*/
  /*background-size: cover;*/
  min-height: 58vh;
  
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right, #141e30, #243b55);
	opacity: .6; 
  }
}




.getStartedContainerTitle {
	color: white;
	font-size: 50px;
	text-align: center;
	padding-top: 95px;
	margin-left: 125px;

}

.getStartedContainerSubTitle {
	color: lightgrey;
	font-size: 20px;
	text-align: center;
	margin-left: 125px;
}

.headerTopicsContainer {
	padding-top: 45px;
	margin-left: 50px;
}

.arrow {
	transform: translateY(5vh);
	color: #fff;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ebebeb;
  padding: 30px 50px;
  text-decoration: none;
}

.btn:hover {
  background: #969696;
  text-decoration: none;
}


.bulb {
	max-width: 21vw;
	float: right;
	margin-top: 20px;
	margin-right: 60px;
	margin-left: 10px;
	margin-bottom: 5px;
	position: relative;
	z-index: 999;
}

.headertopic {
	max-width: 15vw;
}

.headertopic:hover {
	max-width: 15vw;
	box-shadow: 
		0 20px 120px 10px rgba(0,0,0,0.5);
}

/*********************
  How It Works Container
**********************/

.howItWorksContainer {
	background-color: #fff;
}

.howItWorksContainerInner {
	margin-top: 20px;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  /*height: 120px;*/
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.custom-image img {
  display: block;
  width: 50%;
  margin: auto;
}
.custom-card {
  padding: 10px 16px;
}

.custom-card p {
  color: #999;
}

.custom-card h2 {
  padding-top: 10px;
}





/*********************
  Top Videos Container
**********************/


.topVideosContainer {
  /*background-color: #fff;*/


}

.topVideosContainerInner {
  display: inline-block;
  margin-top: 10px;
}

.exampleVideo {
	width: 175px;
	height: 100px;
	display: inline-block;
	margin: 5px;
	margin-left: 20px;
}

.arrowTop {
	transform: translateY(-8vh);
	margin: 5px;
	display: inline-block;
}



/*********************
  RecEngine Container
**********************/
.recEngineContainer {
	background: linear-gradient(to right, rgba(53,87,128, .7) 0%, rgba(53,87,128, .7) 100%), url('../images/headerbg.jpg');
	/*background-color: #fff;*/
/*	background-image: url('../images/gears.png');
	background-repeat: no-repeat;
	background-size: 30% 60%;
	background-position: left center;
	background-
	opacity: 1;*/
	color: white
}

.recEngineContainer h1, .recEngineContainer a {
	color: white;
}

.gears {
	max-width: 28vw;
	margin: 60px 20px;
}

.signUpContainer, .logInContainer, .submitVideoContainer {
  padding: 50px 20px;
}

.recEngineDesc {
	background: linear-gradient(to right, rgba(36, 59, 85, .7) 0%, rgba(36, 59, 85, .7) 100%), url('../images/headerbg.jpg');
	padding: 50px;
	font-size: 14px;
}

.recEngineAdditionalInfo {
  background-color: #45464c;
}

.bottomContainer {
	background: linear-gradient(to right, rgba(36, 59, 85, .7) 0%, rgba(36, 59, 85, .7) 100%), url('../images/headerbg.jpg');
	color: white;
}

.bottomContainer h1 {
	color: white;
}

.bottomContainerInner {
	margin: 0 auto;
	text-align: center;
	padding: 0px 10px;
	
}

.bottomContainerInner h2{
	font-weight: bold;
	
}

/*********************
   Featured Members
**********************/
.member {
	max-width: 250px;
	border-radius: 50%;
}



/*********************
   Dashboard
**********************/

/*.topicNav {
	box-shadow: 
		0 5px 25px 5px rgba(0,0,0,0.5), 
		0 1px black;
}*/

.navWhite {
  background-image: url('../images/whitebg.png');
  transform: translateY(3px);
  padding: 16px 20px;
  color: black;
}

.navWhite a, .navWhite span {
	color: black;
}

.topicDashboardHeader {

  background-image: url('../images/lifehacksbg.jpg');
  background-size: cover;
  min-height: 14vh;
  padding-top: 40px;
}

.topicDashboardTitle {
	margin: 0 auto;
	text-align: center;
	
}

.topicDashboardTitle span{
	color: white;
	background-color: #000;
	font-size: 40px;
	text-align: center;
	padding: 15px 25px;



}



.videoContainer {
	margin-top: 4px;
	background-color: black;

}

.videoContainerInner {
	width: 92%;
	margin: 0 auto;

}

.videoDisplay {
	text-align: center;
	margin: 0 auto;
	
}

.videoInfoBox {
	width: 70%;
	margin: 18px auto;
}

.votingContainer {
	text-align: center;
	padding: 10px;
	background-color: white;
}


.votingIcon {
	padding: 5px 15px;
	color: gray;
}

/*.centerButton {
	border-radius: 50%;
	width: 70px;
	height: 70px; 
	background-color: red;
	display: inline-block;
}*/

.bulbIcon {
	color: black;
}

.votingIcon:hover {
	color: black;
}

.heartIcon:hover, .heartIconSelected {
	color: red;
}
.vidRecContainer {
	min-height: 10vh;
	color: white;
	padding: 16px 20px;
	background-color: white;
	margin-top: 20px;
}

.vidRecContainer a{
	min-height: 10vh;
	/*color: white;*/
}

.videoTitleContainer {
	/*float: left;*/
}

.videoTitle {
  font-size: 27px;
  font-weight: bold;
}

.videoStats {
	color: black;
	/*background-color: black;*/
	width: 50%;
	margin: 5px 0px;
	padding: 8px 0px;
}

.videoStat {
	margin-right: 10px;
}

.reportButton {
	float: right;
	padding-top: 10px;
}

.videoDesc {
	font-size: 15px;
	padding-top: 20px;
}

.recentlyWatchedVideos {
	margin-left: 50px;
	margin-bottom: 50px;
	display: inline-block;
}

.recentlyWatchedVideos h2 {
	margin-bottom: 5px;
	font-weight: bold;
}

.recentVideo {
	width: 95%;
	margin-bottom: 12px;
	display: inline-block;
}

.recentVideo img{
	max-width: 35%;
	float: left;
	margin-right: 5px;
}

.recentVideoTitle {
	font-size: 15px;
	font-weight: bold;
}

.recentVideoCategory{
	font-size: 12px;
}


.slick-next:before, .slick-prev:before {
	font-size: 15px;
	color: black;

}