/*********************
  Global
**********************/

body {
	background-image: url('../images/patternbg.jpg');
}
.recEngineContainer, .howItWorksContainer {
	 padding: 50px 100px;
}

.topVideosContainer {
  	 padding: 30px 100px;	
}

form input {
	margin: 5px;
	padding: 10px 20px;
	font-size: 15px;
}

/*********************
  Navigation
**********************/
.subtopic {
	display: block;
	margin: 2px 0px;
	background-color: black;
	/*color: black;*/
	padding: 10px 15px;
	padding-right: 50px;
}

ul li {
	display: inline-block;
	margin: 0px 10px;
	color: white;
}

ul li a {
	color: white;
	font-size: 1.2em;
}

ul li a:hover {
	color: darkgray;
}



.nav, .topicNav, .footer {
  background-image: url('../images/navbg.jpg');
  transform: translateY(3px);
  padding: 16px 20px;
  color: white;
}

.nav {
	box-shadow: 
		0 50px 120px 30px rgba(0,0,0,0.5), 
		0 1px black;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbg {
background: linear-gradient(90deg, #48ded4 0%, #a026bf 20%, #e82c75 60%, #FFC40E 85%, #48ded4 95%) fixed;
}

.navRight {
	float: right;
}

.bulbnav {
	max-height: 35px;
	display: inline-block;
}

/*********************
  Header
**********************/

.getStartedContainer {

  background: linear-gradient(to right, rgba(20, 30, 48, .7) 0%, rgba(36, 59, 85, .7) 100%), url('../images/headerbg.jpg');
  /*background: linear-gradient(to right, #141e30, #243b55), opacity: .95, url('../images/headerbg.jpg');*/
  /*background-size: cover;*/
  min-height: 58vh;
  
  &:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to right, #141e30, #243b55);
	opacity: .6; 
  }
}




.getStartedContainerTitle {
	color: white;
	font-size: 50px;
	text-align: center;
	padding-top: 95px;
	margin-left: 125px;

}

.getStartedContainerSubTitle {
	color: lightgrey;
	font-size: 20px;
	text-align: center;
	margin-left: 125px;
}

.headerTopicsContainer {
	padding-top: 45px;
	margin-left: 50px;
}

.arrow {
	transform: translateY(5vh);
	color: #fff;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #ebebeb;
  padding: 30px 50px;
  text-decoration: none;
}

.btn:hover {
  background: #969696;
  text-decoration: none;
}


.bulb {
	max-width: 21vw;
	float: right;
	margin-top: 20px;
	margin-right: 60px;
	margin-left: 10px;
	margin-bottom: 5px;
	position: relative;
	z-index: 999;
}

.headertopic {
	max-width: 15vw;
}

.headertopic:hover {
	max-width: 15vw;
	box-shadow: 
		0 20px 120px 10px rgba(0,0,0,0.5);
}

/*********************
  How It Works Container
**********************/

.howItWorksContainer {
	background-color: #fff;
}

.howItWorksContainerInner {
	margin-top: 20px;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  /*height: 120px;*/
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.custom-image img {
  display: block;
  width: 50%;
  margin: auto;
}
.custom-card {
  padding: 10px 16px;
}

.custom-card p {
  color: #999;
}

.custom-card h2 {
  padding-top: 10px;
}





/*********************
  Top Videos Container
**********************/


.topVideosContainer {
  /*background-color: #fff;*/


}

.topVideosContainerInner {
  display: inline-block;
  margin-top: 10px;
}

.exampleVideo {
	width: 175px;
	height: 100px;
	display: inline-block;
	margin: 5px;
	margin-left: 20px;
}

.arrowTop {
	transform: translateY(-8vh);
	margin: 5px;
	display: inline-block;
}



/*********************
  RecEngine Container
**********************/
.recEngineContainer {
	/*background-color: #fff;*/
/*	background-image: url('../images/gears.png');
	background-repeat: no-repeat;
	background-size: 30% 60%;
	background-position: left center;
	background-
	opacity: 1;*/
}

.hexright {
	float: right;
}

.hexleft {
	float: right;
	max-width: 300px;
}

.signUpContainer {
  padding: 20px 0px;
}




/*********************
  Topic Dashboard
**********************/

.topicNav {
	box-shadow: 
		0 5px 25px 5px rgba(0,0,0,0.5), 
		0 1px black;
}

.topicDashboardHeader {

  background-image: url('../images/lifehacksbg.jpg');
  background-size: cover;
  min-height: 14vh;
  padding-top: 40px;
}

.topicDashboardTitle {
	margin: 0 auto;
	text-align: center;
	
}

.topicDashboardTitle span{
	color: white;
	background-color: #000;
	font-size: 40px;
	text-align: center;
	padding: 15px 25px;



}

.topicDashboardSubTitle {
	color: white;
	font-size: 15px;
	text-align: center;

	padding-bottom: 25px;
	margin-top: 15px;
}


.videoContainer {
	/*transform: translateY(-10px);*/
	padding: 10px 30px;

}

.videoContainerInner {
}

.videoDisplay {
	text-align: center;
	margin: 0 auto;
	
}

.videoInfoBox {
	width: 46%;
	margin: 0 auto;
	background-color: darkgray;
}

.votingContainer {
	text-align: center;
	padding-bottom: 20px;
	float: right;
}

.vidRecContainer {
	min-height: 10vh;
	color: white;
	padding: 16px 20px;
	background-color: white;
	margin-top: 20px;
}

.vidRecContainer a{
	min-height: 10vh;
	/*color: white;*/
}

.videoTitleContainer {
	float: left;
}
.videoTitle {
  font-size: 20px;
  font-weight: bold;
}
.videoDesc {
	font-size: 15px;
}

.arrowRight {
	font-size: 50px;
	float: right;
	transform: translateY(235px);
}

.arrowLeft {
  font-size: 50px;
  float: left;
  transform: translateY(235px);
}
