/*********************
  Header
**********************/
.headerContainer {
  background: linear-gradient(to right, rgba(20, 30, 48, .7) 0%, rgba(36, 59, 85, .7) 100%), url('../../images/headerbg.jpg');
  min-height: 58vh;
  &:before {
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #141e30, #243b55);
  opacity: .6; 
  }
}

.headerTitle {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 95px;
  margin-left: 125px;
}

.headerSubtitle {
  color: lightgrey;
  font-size: 20px;
  text-align: center;
  margin-left: 125px;
}

.headerTopicsContainer {
  padding-top: 45px;
  margin-left: 50px;
}

.arrow {
  transform: translateY(5vh);
  color: #fff;
}

.slick-next:before, .slick-prev:before {
  font-size: 15px;
  color: black;
}

/*********************
  Top Videos
**********************/
.topVideosContainer {

}

.exampleVideo {
  width: 175px;
  height: 100px;
  display: inline-block;
  margin: 5px;
  margin-left: 20px;
}


/*********************
  How It Works
**********************/
.howItWorksContainer {
  background-color: #fff;
}

.howItWorksContainerInner {
  margin-top: 20px;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  /*height: 120px;*/
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.custom-image img {
  display: block;
  width: 50%;
  margin: auto;
}
.custom-card {
  padding: 10px 16px;
}

.custom-card p {
  color: #999;
}

.custom-card h2 {
  padding-top: 10px;
}


/*********************
  Rec Engine Info
**********************/
.recEngineContainer {
  background: linear-gradient(to right, rgba(53,87,128, .7) 0%, rgba(53,87,128, .7) 100%), url('../../images/headerbg.jpg');
  color: white
}

.recEngineContainer h1, .recEngineContainer a {
  color: white;
}

.gears {
  max-width: 28vw;
  margin: 60px 20px;
}

.recEngineDesc {
  background: linear-gradient(to right, rgba(36, 59, 85, .7) 0%, rgba(36, 59, 85, .7) 100%), url('../../images/headerbg.jpg');
  padding: 50px;
  font-size: 14px;
}



/*********************
  Featured One
**********************/
.member {
  margin: 0 auto;
  text-align: center;
  padding: 0px 10px;
}

.member h2 {
  font-weight: bold;
}

.member img {
  max-width: 250px;
  border-radius: 50%;
}



/*********************
  Featured Two
**********************/
.featuredTwoContainer {
  background: linear-gradient(to right, rgba(36, 59, 85, .7) 0%, rgba(36, 59, 85, .7) 100%), url('../../images/headerbg.jpg');
  color: white;
}

.featuredTwoContainer h1 {
  color: white;
}



