/*********************
  Header
**********************/
.headerContainer {
  background: linear-gradient(to right, rgba(20, 30, 48, .7) 0%, rgba(36, 59, 85, .7) 100%), url('../../images/headerbg.jpg');
  min-height: 58vh;
  &:before {
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #141e30, #243b55);
  opacity: .6;
  }
}

.headerTitle {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 95px;
  margin-left: 125px;
  font-family: helvetica;
  font-weight: bold;
}

.sectionTitle {
  font-family: helvetica;
  font-weight: bold;
}

.headerSubtitle {
  color: lightgrey;
  font-size: 20px;
  text-align: center;
  margin-left: 125px;
}

.headerTopicsContainer {
  padding-top: 45px;
  margin-left: 85px;
  width: 65vw;
}

.headertopic {
  max-width: 15vw;
}

.headertopic:hover {
  box-shadow:
    0 20px 120px 10px rgba(0,0,0,0.5);
}

.arrow {
  transform: translateY(5vh);
  color: #fff;
}

.slick-next:before, .slick-prev:before {
  font-size: 15px;
  color: black;
}

.bulb {
  max-width: 19vw;
  max-height: 62vh;
  float: right;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 10px;
  margin-bottom: 5px;
  right: 0;
  position: relative;
  z-index: 999;
}

/*********************
  Top Videos
**********************/
.topVideosContainer {
  background-color: #fff;
  padding: 30px 100px;
}

.topvideo {
  padding: 0.8rem;
}

.topvideo-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  background-size: contain;
}

.topvideo-thumbnail {
  max-height: 100%;
  max-width: 100%;
  margin: 0px auto;
  opacity: .85;
}

.home-playbutton-overlay {
  position: absolute;
  max-width: 7vh;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  filter: drop-shadow(0px 0px 4px rgba(255,255,255,0.5));
}

.home-stats-overlay {
  position: absolute;
  opacity: 1; 
  min-width: 40%;
  bottom: 0px;
  right: 0px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5)
}


.topVideoTitle {
  font-weight: bold;
  font-size: 1.05em;
}


/*********************
  How It Works
**********************/

.howItWorksContainer {
  /*background-color: #fff;*/
}

.howItWorksContainerInner {
  margin-top: 10px;
}


.card-container > .ant-tabs-card > .ant-tabs-content {
  /*height: 120px;*/
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}

.custom-image img {
  display: block;
  width: 55%;
  margin: auto;
}
.custom-card {
  padding: 10px 16px;
}

.custom-card p {
  color: #999;
}

.custom-card h2 {
  padding-top: 10px;
}


/*********************
  Rec Engine Info
**********************/
.recEngineContainer {
  background: linear-gradient(to right, rgba(53,87,128, .7) 0%, rgba(53,87,128, .7) 100%), url('../../images/headerbg.jpg');
  color: white;
  overflow: hidden;
}

.recEngineContainer h1, .recEngineContainer a {
  color: white;
}

.gears {
  opacity: 0.15;
  max-width: 35vw;
  margin: 20px 20px 60px -10px;
  position: absolute;
  z-index: 2;
}

.recEngineDesc {
  background: linear-gradient(to right, rgba(36, 59, 85, .7) 0%, rgba(36, 59, 85, .7) 100%), url('../../images/headerbg.jpg');
  padding: 50px 50px 50px 50px;
  font-size: 1.05em;

}
.recEngineDescInner {
  font-size: 1.05em;
}

input {
  color: black;
}


/*********************
  Featured One
**********************/

.featuredOneContainer {
  color: black;
  position: relative;
  z-index: 3;
}

.featuredOneContainer img {
  max-width: 15vw;
  margin-right: 35px;
}

.innerText {
  font-size: 1.05em;
}

.logoContainer {
  text-align: center;
}

/*********************
  Featured Two
**********************/
.featuredTwoContainer {
  background: linear-gradient(to right, rgba(36, 59, 85, .7) 0%, rgba(36, 59, 85, .7) 100%), url('../../images/headerbg.jpg');
  color: white;
  position: relative;
}

.featuredTwoContainer h1 {
  color: white;
}

.featureTwoInner {
  margin-top: 25px;
  margin-left: 30px;
}

.userStat {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-right: 40px;
}

.statIcon {
  display: inline-block;
  margin-right: 15px;
}

.statText {
  display: inline-block;
  font-size: 2.5em;
}

.statNumber {
  color: #efcc44;
}

/*********************
  Footer
**********************/

.footer {
  background-image: url('../../images/navbg.jpg');
  padding: 16px 20px;
  color: white;
  font-size: .95em;
}

.footerInner {
  padding: 20px 100px;
  margin: 0 auto;
  max-width: 90vw;
  padding-left: 200px;

}

.footerInner h3 {
  color: white;
  font-weight: bold;
}

.footerInner a {
  color: white;
}





