.accountInner {
    color: black;
    padding: 5px 50px;
    min-height: 80vh;
    margin-bottom: 10px;
}
.accountInner h1 {
  margin-bottom: 10px;

}

.accountCategoryItem{
    width: 200px;
    height: 100%;
    margin: 8px;
    display: inline-block;
}

.accountContainer {
    color: black;
    font-size: 15px;
}

.accountInfo {
    text-align: center;
}

/***********
Category Preferences
************/

.accountCategories {
    text-align: center;
}

.accountCategoryCard:hover {
    background-color: yellow;
}

.custom-image img {
    display: block;
    margin: auto;
}


.custom-card {
    padding: 10px 10px;
}

.custom-card:hover {
  -webkit-box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
  -moz-box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
  box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);

}

.custom-card h2 {
    padding-top: 10px;
    text-align: center;
}

/***********
Bookmarks
************/

.bookmarksContainer {
    display: inline-block;
}

.accountBookmarkCard {
    width: 45vw;
    height: 15vh;
    overflow: hidden;
    display: inline-block;
    margin-right: 15px;
}

.accountBookmarkCard:hover {
  -webkit-box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
  -moz-box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
  box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
}

.accountBookmarkCard img {
    float: left;
    max-width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.img-overlay {
    display: none;
}

.bookmarkInfo {

}

