.accountContainer {
    color: black;
    font-size: 15px;
}

.accountInfoContainer {
}

.accountInfoCard {
    width: 50vw;
    margin: 10px auto;
}

.userPhoto img{

    width: 20vw;
    float: right;
    padding: 10px;

}

.userInfo {
    margin-top: 10px;

}

.userEmail {
    font-size: 2em;
}

.userStats {
    font-size: 1.5em;
}

/***********
Category Preferences
************/

.categoriesInner {
    color: black;
    padding: 5px 50px;
    min-height: 80vh;
}

.categoriesInner h1 {
  margin-bottom: 10px;
    
}

.categoriesSubmit {
    float: right;
}


.subcatImage img {
  display: block;
  margin: 10px auto;
  width: 6vw;
}

.subcatName {
  padding: 10px 10px;
  text-align: center;
}


.subcategoryCard {
    width: 13vw;
    height: 240px;
    margin: 8px;
    display: inline-block;
}

.subcategory-card-selected {
    background-color: rgba(0, 172, 230, 0.4);
}

.subcategory-card:hover, .subcategory-card-selected:hover {
  -webkit-box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
  -moz-box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
  box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
}


/***********
Bookmarks
************/

.bookmarksContainer {
    display: inline-block;
}

.accountBookmarkCard {
    width: 45vw;
    height: 15vh;
    overflow: hidden;
    display: inline-block;
    margin-right: 15px;
}

.accountBookmarkCard:hover {
  -webkit-box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
  -moz-box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
  box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
}

.accountBookmarkCard img {
    float: left;
    max-width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.bookmarkInfo {

}

