.walkthroughInner {
	color: black;
	padding: 5px 50px;
	min-height: 80vh;
}

.walkthroughInner h1 {
  margin-bottom: 10px;
	
}

.subcategoryItem {
	width: 200px;
	height: 100%;
	margin: 8px;
	display: inline-block;
}


.subcategoryItem:hover {
	background-color: lightgrey;
}

.walkthroughSubmit {
	float: right;
}


.custom-image img {
  display: block;
  margin: auto;
}

.custom-card {
  padding: 10px 10px;
}

.custom-card:hover {
  -webkit-box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
  -moz-box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
  box-shadow: 9px 6px 51px -16px rgba(0,0,0,0.88);
}

.custom-card h2 {
  padding-top: 10px;
  text-align: center;
}

.walkthrough-card-selected {
	background-color: rgba(0, 172, 230, 0.4);
}