.plusCircle {
	background-color: green;
	font-size: 15px;
	margin-right: 5px;
}

.minusCircle {
	background-color: red;
	font-size: 15px;
	margin-left: 5px;
}

.refreshQueueButton {
	float: right;
	margin: 20px 50px;
	font-size: 15px;
	background-color: green;
	color: white;
	padding: 5px 10px;

}

.adminBar {
	background-color: rgba(239,204,68, 0.9);
	color: black;
	text-align: center;
	padding: 15px;
	margin: 10px;
}

.catBox {
	width: 200px;
	margin-right: 10px;
}

.ant-select-auto-complete.ant-select .ant-input {
	border-width: 0px;
}

.noVideos {
	text-align: center;
	padding: 100px;
}

.ant-select-dropdown-menu-item:hover, .ant-select-dropdown-menu-item-active {
	background-color: #e8e8e8;
}